@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  html,
  body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e7eceb;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  ::selection {
    background-color: #01569e;
    color: #fccd18;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .stroke-text {
    -webkit-text-stroke: inherit;
    -webkit-text-fill-color: transparent;
  }
}
